@import url("https://fonts.googleapis.com/css?family=Salsa");

body {
	margin:0px;
	padding:0px;
}


.row li {
	display:inline-block;
	font-family: 'Salsa', cursive;
	font-size:20pt;
}

.col li {
	display:block;
}

.arrow {
	width:60px;
}
.bar {
	border-radius:15px;
	opacity:0.7;
	position:relative;
	height:15px;
	width:45px;
	margin-left:auto;
	transform-origin:37.5px;
}

.top {
	background-color:#56CCF2;
	top:15px;
	transform:rotate(45deg);
}

.horizontal {
	background-color:#2F80ED;
	width:60px;
}

.bottom {
	background-color:#2D9CDB;
	bottom:15px;
	transform:rotate(-45deg);
}
